<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Test Suite">
    <listeners>
        <listener class-name="BaseTest"/>
    </listeners>
    <test name="My Test">
        <classes>
            <class name="cucumbertests.CucumberTestngRunner"/>
        </classes>
    </test>
</suite>
